* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #eff3f5;
}

body,
html {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.logo {
    height: 60%;
}

body {
    display: flex;
    background-color: #e9eef1;
    align-items: center;
    justify-content: space-around;
    padding: 0 5%;
}

.container {
    width: 35%;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #16a9d4;
    border-radius: 1em;
    padding: 1em;
    row-gap: 1em;
    border: 2px solid #9762ec;
}

.inputsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    grid-column: 1/-1;
    text-align: center;
    margin: 0;
    font-size: 2.8em;
}

label {
    font-size: x-large;
}

input,
select {
    border: 2px solid #9762ec;
    width: 100%;
    height: 2.5em;
    border-radius: 0.7em;
    color: #1e8fb1;
}

option {
    color: #1e8fb1;
}

input {
    padding: 0 5%;
}

select {
    width: 100%;
    text-align: center;
}

.submit {
    font-size: x-large;
    height: 2em;
}

a {
    text-decoration: none;
    font-size: x-large;
}

.error {
    min-height: 1.5em;
    color: red;
    text-align: center;
    line-height: 1;
    font-size: small;
}

.inputsection:nth-child(4){
    margin: -2% 0 0 0;
}